@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

section{
    margin-bottom: 145px;
}


h1{
    font-style: italic;
    font-weight: 900;
}


.reverse{
    flex-direction: row-reverse;
}


.half_width{
    width:45%;
    padding-left:10%
}

.flexible_container{
    display: flex;

}
.experience-area{
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
}
.experience-area h1{
    font-size:60px;
    font-style: bold !important;
    font-weight:700;
    color:rgb(17, 0, 255);
    margin-bottom: -20px;
}

.experience_item{

    box-shadow: 10px 15px 25px rgb(62, 119, 48);
    width:40%;
    padding: 4%;
    margin: 5%;

}

#bady_web_dev{
    border-image: radial-gradient( 27deg,rgb(75, 84, 105), rgb(23, 245, 245)) 30;
    border-image-slice: 1;
    border-left: 7px solid;
    border-radius: 5%;
}

#full_web_dev{
border-image:radial-gradient( 47deg,rgb(139, 46, 46), rgb(0, 33, 180)) 30;
border-image-slice: 1;
border-left: 7px solid;
border-radius: 5%;

}
.experience_item h2{
    margin:20px 0px 0px 0px;
    color:rgb(151, 58, 58);
    font-size:35px;
    font-weight:700;
    
}

.experience_item h3{
    color:rgb(243, 198, 115);
    font-size:25px;
    font-weight:600;
}


.experience_item p{
    font-size:18px;
    font-weight:300;
    font-style: inherit;
}